<settings>

<property name="traceFile" value="/media/sf_vmshare/ns2mobility.tcl" />
<property name="outputFile" value="/home/farooq/territory allocation/new/simulation/bfs/colognegraphmobility.xml" />

<property name="nodeNum" value="33945" />
<property name="nodeSize" value="20" />
<property name="duration" value="3590" />

<property name="voltage" value="11.1" />
<property name="capacity" value="12960" />

<property name="maxSpeed" value="10" />
<property name="ascendSpeed" value="6" />
<property name="descendSpeed" value="4" />

<property name="uavSize" value="100" />

<property name="pauseTime" value="2.0" />
<property name="batteryReplaceTime" value="5.0" />

<property name="cameraWidth" value="10" />
<property name="cameraHeight" value="20" />

<property name="mobilityInterval" value="10" />

<property name="flyAltitude" value="20" />
<property name="observationAltitude" value="25" />
<property name="communicationRange" value="1000" />

<property name="fleetFile" value="/home/farooq/territory allocation/new/selected paths/cologne-center-subgraphs-bfs-3-80/fleet.xml" />
<property name="selectionStrategy" value="leastvisited" />

</settings>
